# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
.env

=========================
AI Models
=========================
models/*.h5
models/*.pt
models/*.onnx

# =========================
# Video Files
# =========================
*.mp4
*.avi
*.mov
*.mkv

violent_clips/
videolive/

# =========================
# Logs / CSV
# =========================
*.log
event_log.csv

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / Trash
# =========================
trash/

# =========================
# ngrok
# =========================
ngrok.exe